{% extends 'baseTemplates/infoPageBase.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block carousel %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="{% static "Images/Jurys inn images/1.jpg" %}" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Jury's Inn, Croydon</h1>
                        <a href="https://www.jurysinns.com/hotels/london/croydon"
                           class="btn btn-lg btn-default hidden-xs">Visit the Hotel Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block custom_script %}
    <script src="{% static "navbarStick.js" %}"></script>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="/static/script.js"></script>
<script src="/static/homeScript.js"></script>

</html>
